.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
  }
  
  .all_buttons {
    display: flex;
    gap: 20px;
    margin-top: 80px;
  }

  .link {
    color: white;
  }

